input {
    margin: 0.4%;
    background-color: beige;
    font-size: 105%;
    border-radius: 4px;
}
input:hover {
    background-color: lightgray;
}
/*#test:hover {*/
/*    animation-name: buttonHover;*/
/*    animation-duration: 0.1s;*/
/*    animation-fill-mode: forwards;*/
/*}*/
/*@keyframes buttonHover {*/
/*    0% {*/
/*        background-color: beige;*/
/*    }*/
/*    25% {*/
/*        background-color: lightblue;*/
/*        border-color: lightcoral;*/
/*    }*/
/*    75% {*/
/*        background-color: deepskyblue;*/
/*        border-color: indianred;*/
/*    }*/
/*    100% {*/
/*        background-color: darkcyan;*/
/*        border-color: darkred;*/
/*    }*/
/*}*/