table {
    color: white;
    border-spacing: 0;
}

tr:first-child {
    color: black;
    background-color: gray;
}

tr:nth-child(2)>td {
    border-top-width: 0;
}

tr {
    background-color: darken(gray, 20%);
}

th, td {
    margin: 0;
    padding: .5em 1.5em;
    text-align: center;
    border-width: 1px 0;
    border-color: gray;
    border-style: solid;
}

th {
    border-bottom-width: 1px;
}

th:nth-child(even) {
    border-width: 0 4px;
    border-color: darken(gray, 20%);
    border-style: solid;
}

td:nth-child(even) {
    border-width: 1px 4px;
    border-color: gray;
    border-style: solid;
}