.alphabet {
    margin: 0.4%;
    background-color: beige;
    font-size: 105%;
    border-radius: 1em;
}
.score {
    text-align: center;
    font-size: 105%;
}
.word-letter {
    margin: 0.2%;
    font-size: 32px;
}