.alphabets {
    margin: 0 auto;
    width: 25%;
}

input[type="button"] {
    margin: 0.4%;
    background-color: beige;
    font-size: 105%;
    border-radius: 4px;
}

input[type="button"]:hover {
    background-color: rgb(245, 240, 189);
}
span {
    margin: 0.4%;
    /*background-color: beige;*/
    font-size: 105%;
    border-radius: 1em;
}
.restart-button {
    display: block;
    margin: 0 auto;
    transform: translateY(100%);
}
.score {
    margin: 0;
    text-align: center;
}
.hint {
    margin: 0 auto;
    background-color: lightsalmon;
    font-size: 105%;
    border-radius: 4px;
    display: block;
    transform: translate(300%, -225%);

}
.top-header {
    text-align: center;
    font-size: 105%;
}

.character {
    margin: 0 0.1em 0 0.1em
}
.word-text {
    text-align: center;
    font-size: 105%;
}

.word-letter {
    margin: 0.2%;
    font-size: 32px;

}
@media only screen and (max-width: 599px){
    div{
        display:block;
    }
}
@media only screen and (min-width: 600px){
    .hangman{
        position: absolute;
        left: 0;
        width: 60%
    }
    .alphabets{
        position: absolute;
        right: 0;
        width: 40%;
        text-align: center;
    }
}
