#game {
    display: flex;
    flex: 50%;
}

.alphabet {
    margin: 0.4%;
    background-color: beige;
    font-size: 105%;
    border-radius: 1em;
}
.alphabets {

}
.header-1 {
    font-size: 3vw;
}
.hint {
    margin: 0.4%;
    background-color: lightsalmon;
    font-size: 105%;
    border-radius: 4px;
}
.restart-button {
    margin: 0 auto;
    width: 25%;
}
.score {
    margin: 0;
}

.top-header {
    text-align: center;
    font-size: 105%;
}
.word-letter {
    margin: 0.2%;
    text-align: center;
    font-size: 200%;
}
@media only screen and (max-width: 599px){
    div{
        display:block;
    }
}
@media only screen and (min-width: 600px){
    .hangman{
        position: absolute;
        left: 0px;
        width: 60%
    }
    .alphabets{
        position: absolute;
        right: 0px;
        width: 40%;
        text-align: center;
    }
}
