#game {
    display: flex;
    justify-content: center;
    text-align: center;
    /*float: left;*/
    /*width: 50%;*/
}
.alphabet {
    margin: 0.4%;
    background-color: beige;
    font-size: 105%;
    border-radius: 1em;
}
.alphabets {
    flex: 60%;
}
.amir {
    width: 60%;
}
.hangman {
    flex: 40%;
}
.header-1 {
    font-size: 1.5em;
}
.header-2 {
    display: flex;
    justify-content: center;
}
.hint {
    margin: 0.4%;
    background-color: lightsalmon;
    font-size: 105%;
    border-radius: 4px;
}
.restart-button {
    margin: 0 auto;
    width: 25%;
}
.score {
    margin: 0;
}
.word-definition {

}
.word-letter {
    margin: 0 0.5% 0 0.5%;
}
.word-text {
    font-size: 200%;
}
