#hangman {
    justify-content: center;
}
#hint {
    background-color: lightsalmon;
    font-size: 105%;
    border-color: bisque;
}
#hint:hover {
    opacity: 50%;
}
#game {
    display: flex;
    justify-content: center;
    text-align: center;
    /*float: left;*/
    /*width: 50%;*/
}
.alphabet {
    margin: 0.4%;
    background-color: beige;
    font-size: 105%;
    border-radius: 1em;
}
.alphabets {
    flex: 60%;
}
img.amir {
    width: 64vw;
}
.hangman {
    flex: 40%;
}
div.header-1 > * {
    font-size: 8vw;
    margin: auto;
}
div.header-2 {
    display: flex;
    justify-content: center;
}

.restart-button {
    margin: 0 auto;
    width: 25%;
}
.score {
    margin: 0;
}
#word-definition {

}
.word-letter {
    margin: 0 1vw 0 1vw;
}
#word-text {
    font-size: 200%;
}
/*@media only screen and (max-width: 599px){*/
/*    div{*/
/*        display:block;*/
/*    }*/
/*}*/
/*@media only screen and (min-width: 600px){*/
/*    .hangman{*/
/*        position: absolute;*/
/*        left: 0px;*/
/*        width: 60%*/
/*    }*/
/*    .alphabets{*/
/*        position: absolute;*/
/*        right: 0px;*/
/*        width: 40%;*/
/*        text-align: center;*/
/*    }*/
/*}*/
