.alphabets {
    margin: 0 auto;
    width: 25%;
}
input[type="button"] {
    margin: 0.4%;
    background-color: beige;
    font-size: 105%;
    border-radius: 4px;
}

span {
    margin: 0.4%;
    background-color: beige;
    font-size: 105%;
    border-radius: 1em;
}
.restart-button {

}
.score {
    margin: 0;
}
.hint {
    margin: 0.4%;
    background-color: lightsalmon;
    font-size: 105%;
    border-radius: 4px;
}
.top-header {
    text-align: center;
    font-size: 105%;
}

.character {
    margin: 0 0.1em 0 0.1em
}
.word-text {
    text-align: center;
    font-size: 105%;
}

.word-letter {
    margin: 0.2%;
    font-size: 32px;

}
@media only screen and (max-width: 599px){
    div{
        display:block;
    }
}
@media only screen and (min-width: 600px){
    .hangman{
        position: absolute;
        left: 0;
        width: 60%
    }
    .alphabets{
        position: absolute;
        right: 0;
        width: 40%;
        text-align: center;
    }
}
