.alphabets {
    margin: 0 auto;
    width: 25%;
}
input[type="button"] {
    margin: 0.4%;
    background-color: beige;
    font-size: 105%;
    border-radius: 4px;
}

span {
    margin: 0.3%;
}
.score {
    margin: 0;
}
.hint {
    margin: 0.4%;
    background-color: lightsalmon;
    font-size: 105%;
    border-radius: 4px;
}
.header-1 {
    text-align: center;
    font-size: 105%;
}
.character {
    margin: 0 0.1em 0 0.1em
}
.word-text {
    text-align: center;
    font-size: 105%;
}
