.header > * {
    font-size: 2em;
}
.word-letter {
    font-size: 2em;
    padding: 10px;
}
#hint {
    background-color: #e885e6;
    font-size: 105%;
    border-color: #e364e8;
    float: right;
    transform: translateY(0.5em);
}
#hint:disabled {
    background-color: rgba(232, 133, 230, 0.5);
    border-color: rgba(227, 100, 232, 0.5);
    color: rgba(255, 255, 255, 0.5);
}
#hangman {
    width: 90%
}
.alphabet{
    margin: 0.4%;
    background-color: #fae1ff;
    font-size: 105%;
    border-radius: 0.5em;
    border-color: #e0a8e8;
}
#restart{
    margin: 0.4%;
    background-color: #e885e6;
    font-size: 105%;
    border-color: #e364e8;
    color: white;
}
@media only screen and (max-width: 768px) {
}
