input {
     margin: 0.4%;
     background-color: beige;
     font-size: 105%;
     border-radius: 4px;
}
.score {
    text-align: center;
    font-size: 105%;
.character {
    margin: 0 0.1em 0 0.1em
}